body {
   width: 100%;
    height: 100%;  
    font-family: Arial, sans-serif;
    background-color: rgb(235, 234, 232);
    margin: 0;
    padding: 0;
 text-align: center;
}
header {
    background-size: 60%;
    color: #fff;
    height: 90px;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#img{
    width: 900px;
    height: 300px;
    border-radius: 20px;
}
h1{
    margin: 0;
    padding: 0;  
}
.input-container {
  display: contents;
  padding: 20px;
}

.input-field {
    padding: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #babab8;
    background-color:rgb(235, 234, 232);


}
.input-field:focus{
    border-bottom: 2px solid #999999;
    background-color:#cccccc39;
}
.input-field:hover{
    border-bottom: 2px solid #999;
    background-color:#cccccc39;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* חצי שקוף */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ddd;
}
.section {
    margin-bottom: 20px;
}
.toggle-button {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}
.hidden {
     display: none;
}
.s{
    display: none;
}
.section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.section .item {
    font-size: 16px;
    margin-bottom: 5px;
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.section ul li {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: right; /* כיווניות טקסט לימין */
}

.section ul li input {
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 10px;
}
#finish{
    padding: 10px 20px;
  font-size: 20px;
  width: 50%;
  border-radius: 5px;
  background-color: #205791;
  color: #fff;
  border: none;
  cursor: pointer;  
}
#finish2{
    padding: 10px 20px;
  font-size: 20px;
  width: 50%;
  border-radius: 5px;
  background-color: #686d72;
  color: #fff;
  border: none;
  cursor: pointer;  
}
#finish3{
    padding: 10px 20px;
  font-size: 20px;
  width: 50%;
  border-radius: 5px;
  background-color: #61676eaf;
  color: #fff;
  border: none;
  cursor: pointer;  
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.menu-item{
    width: 45px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
}

.dataTabke {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* חצי שקוף */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    display: none;
    
  }

  #dataTabkeHeader{
    font-size: 30px;
    font-weight: bold;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .dataTabke th,
  .dataTabke td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
  }
  .page {
    display: none;
    padding: 10px 20px;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
    background-color: #61676eaf;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .active {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
    background-color: #61676eaf;
    color: #fff;
    border: none;
    cursor: pointer;
  }
 #imgh {
    min-width: 900px;
    background-color: rgba(255, 255, 255, 0.9); /* חצי שקוף */
    box-shadow: 0 0 10px rgb(241, 202, 5);
    border-radius: 20px;
    border: 1px solid #ddd;
    
 }

/* מדיה קוורי לרוחב מסך של 412px */
@media (max-width: 412px) {
    .container, .dataTabke {
        padding: 10px; /* צמצום הפדינג */
    }
    .input-container {
        padding: 10px; /* צמצום הפדינג */
    }
    .input-field {
        margin-right: 10px; /* צמצום המרגין */
    }
    #finish, #finish2, #finish3 {
        font-size: 18px; /* צמצום גודל הטקסט */
    }
    #dataTabkeHeader {
        font-size: 24px; /* צמצום גודל הטקסט */
    }
    .dataTabke th,
    .dataTabke td {
        padding: 5px; /* צמצום הפדינג */
    }
    #img{
        width: 100%;
        height: 150px;
        border-radius: 20px;
    }
    .section ul li {
    font-size: 16px;
    margin-bottom: 2px;
    text-align: right; /* כיווניות טקסט לימין */
}


}