body {
   width: 100%;
    height: 100%;  
    font-family: Arial, sans-serif;
    background-color: rgb(235, 234, 232);
    margin: 0;
    padding: 0;
 text-align: center;
}
 #imgh {
    min-width: 900px;
    background-color: rgba(255, 255, 255, 0.9); /* חצי שקוף */
    box-shadow: 0 0 20px rgba(241, 202, 5, 0.272);
    border-radius: 20px;
    border: 1px solid #ddd;   
 }
h1{
    margin: 0;
    padding: 0;  
}
#h2he{
    font-size: 31px;
  font-style:oblique;
  font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 3px rgba(237, 176, 10, 0.435);
}
input[class="input-field"] {
    font-weight: bold;   
}
#h1container{
    text-shadow: 0 0 3px rgba(237, 176, 10, 0.317);
}
.input-container {
  display: contents;
  padding: 20px;
}
.input-field {
    padding: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #babab8;
    background-color:rgb(235, 234, 232);
}
.input-field:focus{
    border-bottom: 2px solid #999999;
    background-color:#cccccc39;
}
.input-field:hover{
    border-bottom: 2px solid #999;
    background-color:#cccccc39;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* חצי שקוף */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ddd;
}
.section {
    margin-bottom: 20px;
}
.toggle-button {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}
.hidden {
     display: none;
}
.s{
    display: none;
}
.section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.section .item {
    font-size: 16px;
    margin-bottom: 5px;
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.section ul li {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: right; /* כיווניות טקסט לימין */
}

.section ul li input {
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 10px;
}
#finish{
    width: 50%;
    background-color: #205791;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  #finish:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  #finish:hover {
    box-shadow: rgba(198, 24, 24, 0.2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }

#finish2{
  background-color: #4c5053;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600px;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#finish2:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}
#finish2:hover {
  box-shadow: rgba(198, 24, 24, 0.2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}


#finish3{
    background-color: #2070ad;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  #finish3:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  #finish3:hover {
    box-shadow: rgba(198, 24, 24, 0.2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }

#finish4{
    background-color: #81868a;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  #finish4:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  #finish4:hover {
    box-shadow: rgba(198, 24, 24, 0.2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }

#send-whatsapp{
    background-color: #108a31b9;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  #send-whatsapp:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  #send-whatsapp:hover {
    box-shadow: rgba(198, 24, 24, 0.2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
.menu-item{
    width: 45px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
}

.dataTabke {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* חצי שקוף */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    display: none;
    
  }

  #dataTabkeHeader{
    font-size: 30px;
    font-weight: bold;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .dataTabke th,
  .dataTabke td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
  }
  .page {
    display: none;
    padding: 10px 20px;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
    background-color: #61676eaf;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .active {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
    background-color: #61676eaf;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  @media (max-width: 430px) {
   
    #imgh {
        width: 130px;
        min-width: 92%;
        box-shadow: 0 0 10px rgba(241, 202, 5, 0.272);
        border-radius: 10px;
    }   
    .input-container1{
        width: 100%;
    }
    .container {
        max-width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    .dataTabke {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    .input-field {
        width: 70%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #finish, #finish2, #finish3 {
        width: 80%;
        font-size: 18px;
    }
    .page, .active {
        width: 80%;
        font-size: 18px;
    }
    .page, .active {
        width: 80%;
        font-size: 18px;
    }
    .section ul {
        padding: 0;
    }
    .section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5px;
    }
    .section ul li label {
        flex: 1;
        text-align: right;
    }
    .section ul li input {
        flex: 0 0 auto;
        margin-left: 10px;
    }
}
